fastapi 
uvicorn 
gunicorn
sqlalchemy 
pydantic 
psycopg2-binary
spacy
python-dotenv
python-multipart
pgvector
openai
jinja2
alembic
python-jose[cryptography]
pwdlib
passlib
pytest
pytest-asyncio 
httpx
slowapi